// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$body: 'Open Sans', sans-serif;
$heading: 'Raleway', sans-serif;

$navyblue: #05445e;
$bluegrotto: #189ab4;
$bluegreen: #75e6da;
$babyblue: #d4f1f4;

$primary: $navyblue;  
$secondary: $bluegrotto;
$tertiary: $bluegreen;
$quarternary: $babyblue;

$neutral-min: #fff;
$neutral-lt: #e6e7e8;
$neutral-ltst: #f9f9f9;

// Transitions
$transitions-reg: 0.4s;
$transitions-bounce: 0.4s cubic-bezier(0.200, 0.9, 0.35, 1.500);
