// Font families
$font-body: 'Outfit', sans-serif;
$font-heading: 'Poppins', sans-serif;

$clr-primary: #1275b8;
$clr-primary-dk: #005791;

// Box Shadows - match with Tailwind
$bs-shallow: 0px 3px 6px rgba($clr-primary-dk, 0.18);
$bs-deep: 0px 2px 8px rgba($clr-primary-dk, 0.05), 0px 10px 30px rgba($clr-primary, 0.15);
$bs-deep-hover: 0px 2px 8px rgba($clr-primary-dk, 0.05), 0px 15px 36px rgba($clr-primary, 0.25);
$bs-plan-matrix: 0 0px 10px 5px rgba($clr-primary, 0.18);


// Spacing
@mixin spc-section {
  margin-bottom: 4rem;
  @screen lg {
      margin-bottom: 6.67rem;
  }
}

// Spacing
@mixin spc-section-short {
  margin-bottom: 4rem;
  @screen lg {
    margin-bottom: 4.67rem;
  }
}

// Borders
//$b-radius-sm: rounded-sm;

@mixin b-radius-lg {
  @apply rounded-lg;

  @screen md  {
    @apply rounded-xl;
  }

  @screen lg {
    @apply rounded-2xl;
  }

  @screen xl  {
    @apply rounded-3xl;
  }

  @screen 2xl {
    @apply rounded-4xl;
  }
}
